.about_container{
    height:80%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-top:20px;
}
.about_layer{
    display:flex;
    height:80%;
    width:75%;
    /* background-color:aqua; */
   
}
.about_left{
    height:90%;
    display:flex;
    transform:scale(1.2);
    margin-right:30px;

}
.about_right{
    display:flex;
    height:100%;
    width:100%;
    /* background-color:green; */
    /* align-items:center; */
    /* justify-content:center; */
    flex-direction:column;
    padding:0px 30px;
}
.about_right h2{
    font-size:32px;
    font-weight: 600;
    margin-bottom:5px;
}
.about_right p{
    color:#748182;  
    font-size:16.6px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing:1.5;
    margin-bottom:15px;
}
/* .about_right span{
    font-weight:bold;
} */
.about_skill{
    height:40%;
    width:100%;
    display:flex;
    flex-direction:column;
   
    /* background-color:rgb(193, 183, 183); */
}
.skill_items{
    display:flex;
    height:25px;
    width:100%;
    box-shadow: 1px 1px -5px black;
    background-color: #e6e8e9;
    border-radius:5px;
    margin:15px 0px;
    position: relative;
    font-weight: 100;
    font-size:14.5px;
}
.skill_progress span{
    position:absolute;
    padding:4px 10px;
    /* background-color:green; */
    color:white;
    z-index:999;
    
}
.skill_progress_status1{
    display:flex;
    justify-content:flex-end;
    width:95%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status1 p{
    color:white;
    padding:4px;
    font-size:12px;
}
.skill_progress_status2{
    display:flex;
    justify-content:flex-end;
    width:80%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status2 p{
    color:white;
    padding:4px;
    font-size:12px;
}
.skill_progress_status3{
    display:flex;
    justify-content:flex-end;
    width:90%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status3 p{
    color:white;
    font-size:12px;
    padding:4px
}
.about_cv{
    height:8%;
    width:auto;
    /* background-color:red; */
    display:flex;
}

.cv_download{
    height:40px;
    width:160px;
    background-color:black;
    color:white;
    border-radius:5px;
}
.cv_contact_me{
    height:40px;
    width:160px;
    border:1.5px solid black;
    margin:0px 10px;
    border-radius:5px;
}



/* //////////////////////////////////////////////// */


@media screen and (max-width:480px){


    .about_container{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-top:0px;
}
.about_layer{
    display:flex;
    flex-direction: column;
    height:85%;
    width:75%;
    /* background-color:aqua; */
   
}
.about_left{
    height:35%;
    width:100%;
    display:flex;
    justify-content: center;
    transform:scale(1.2);
    margin-right:30px;
    margin-bottom:2.5rem;
}
.about_right{
    display:flex;
    height:100%;
    width:100%;
    /* background-color:green; */
    /* align-items:center; */
    /* justify-content:center; */
    flex-direction:column;
    padding:0rem 0rem;
}
.about_right h2{
    font-size:2rem;
    font-weight: 600;
    margin-bottom:.5rem;
}
.about_right p{
    color:#748182;  
    font-size:.8rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing:1.5;
    margin-bottom:.8rem;
}
/* .about_right span{
    font-weight:bold;
} */
.about_skill{
    height:50%;
    width:100%;
    display:flex;
    flex-direction:column;
   
    /* background-color:rgb(193, 183, 183); */
}
.skill_items{
    display:flex;
    height:25px;
    width:100%;
    box-shadow: 1px 1px -5px black;
    background-color: #e6e8e9;
    border-radius:5px;
    margin:.7rem 0rem;
    position: relative;
    font-weight: 100;
    font-size:14.5px;
}
.skill_progress span{
    position:absolute;
    padding:4px 10px;
    /* background-color:green; */
    color:white;
    z-index:999;
    
}
.skill_progress_status1{
    display:flex;
    justify-content:flex-end;
    width:95%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status1 p{
    color:white;
    padding:4px;
    font-size:12px;
}
.skill_progress_status2{
    display:flex;
    justify-content:flex-end;
    width:80%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status2 p{
    color:white;
    padding:4px;
    font-size:12px;
}
.skill_progress_status3{
    display:flex;
    justify-content:flex-end;
    width:90%;
    height:100%;
    background-color:black;
    position:absolute;
    border-radius:7px;
    padding-right:10px;
}
.skill_progress_status3 p{
    color:white;
    font-size:12px;
    padding:4px
}
.about_cv{
    height:8%;
    width:auto;
    /* background-color:red; */
    display:flex;
}

.cv_download{
    height:40px;
    width:160px;
    background-color:black;
    color:white;
    border-radius:5px;
}
.cv_contact_me{
    height:40px;
    width:160px;
    border:1.5px solid black;
    margin:0px 10px;
    border-radius:5px;
}


}